/* General styles */
.App {
  display: flex;
  height: 100vh; 
  max-width: 100%; 
  text-align: center;
  background-color: #282c34;
  color: rgb(244, 235, 235);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Sidemenu styles */
.sidemenu {
  flex: 0 0 25vw; 
  min-width: 25vw; 
  max-width: 260px;
  padding: 15px;
  background-color: #202123;
}

h1 {
  margin-bottom: 20px;
  color: white;
}

.side-menu-button {
  padding: 15px;
  margin-bottom: 10px; 
  border: 1px solid rgb(132, 73, 199);
  border-radius: 5px;
  text-align: left;
  color: white;
  cursor: pointer;
}

.side-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.side-menu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

/* Chatbox styles */
.chatbox {
  flex: 1; 
  display: flex;
  flex-direction: column;
  position: relative; 
}
.chat-container {
  flex: 1; 
  padding: 24px;
  overflow-y: auto;
}

/* Chat log styles */
.chat-log {
  flex: 1; 
  padding: 24px;
}

/* Chat message styles */
.message {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 8px;
  word-wrap: break-word;
}

.message--sent {
  background-color: #3c1144;
  align-self: flex-end;
}

.message--received {
  background-color: #3c166a;
  align-self: flex-start;
}

/* Chat input styles */
.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input-textarea {
  background-color: #41414d;
  width: 80%;
  padding: 10px;
  color: aquamarine;
  font-size: larger;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px 0px;
}

.chat-message .chat-center {
  max-width: 640px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.chat-message .avatar {
  background: rgb(52, 141, 44);
  border-radius: 50%;

}

label {
  margin-top: 10px;
  color: #a3a3a3;
}

input[type="range"] {
  width: 100%;
  margin-top: 5px;
  -webkit-appearance: none;
  background-color: #333;
  height: 6px;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #888;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #888;
  cursor: pointer;
}

/* Temperature and Token Count meters */
meter {
  margin-top: 5px;
}

/* System start prompt input */
input[type="text"] {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #41414d;
  color: aquamarine;

  font-size: larger;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px 0px;
  resize: vertical;

}

/* Save Context button */
button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #6b3bd0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #5329a2;
}